<% include ../partials/header %>

<div class="row justify-content-center">
	<div class="col-md-12">
		<h1>User Profile</h1>
        <hr />
        <h2 class="text-center">My Orders</h2>
        <% orders.forEach(function(order){ %>
            <div class="card mb-3 justify-content-center" style="max-width: 50%; margin: auto;">
                <div class="card-body text-success">
                    <p><% if(order.purchaseDate){ %>
                        <%= order.purchaseDate.getDate() %> / <%= order.purchaseDate.getMonth()+1 %> / <%= order.purchaseDate.getFullYear() %>
                    <% } %></p>
                    <p class="card-text">
                        <ul class="list-group">
                            <% order.items.forEach(function(item){ %>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <%= item.item.title %> | <%= item.qty %> Units
                                    <span class="badge badge-primary badge-pill"><%= item.price %></span>
                                    </li>
                            <% }) %> 
                        </ul>
                    </p>
                </div>
                <div class="card-footer bg-transparent border-success"><strong>Total Price: ₹ <%= order.cart.totalPrice %></strong></div>
            </div>
        <% }) %>
	</div>
</div>

<% include ../partials/footer %>
