<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Order Details</title>
    <link rel="stylesheet" href="/stylesheets/css/user_order_details.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> 
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  </head>
  <body>


<div class="container con1 payment wrapper ">
  <div class="row">
    <div class="col-xs-12 col-md-12 col-sm-12">
        <!--ORDER DETAILS-->
        <div class="card card-default">
          <div class="card-header text-center hhead" style="background-color: rgb(159, 44, 212);">
              <h4>Order Details</h4>
          </div>
        <div class="card-body">
          <div style="background-color: white;" class="container statusbox">
            <div class="card track">
              <div class="row d-flex justify-content-between px-3 top">
                <div class="d-flex">
                  <h5> ORDER ID <span class="text-primary font-weight-bold"><%= order._id %></span></h5>
                </div>
                  <div class="d-flex flex-column text-sm-left">
                    <% 
                      var d = order.purchaseDate;
                      var date = d.getDate() + '/' + (d.getMonth()+1) + '/' + d.getFullYear();
                    %>
                    <p class="mb-0">Your Order Date: <span class="font-weight-bold"><%= date %></span></p>
                    <p class="mb-0">No of Products: <span class="font-weight-bold"><%= order.cart.totalQty %></span></p>
                    <p class="mb-0">Payment Method: <span class="font-weight-bold"><%= order.paymentMode %></span></p>
                  </div>
              </div>
                  <!-- Add class 'active' to progress -->
                <div class="row d-flex justify-content-center">
                  <div class="col-12">
                    <ul id="progressbar" class="text-center">
                      <% if(order.isConfirmed && order.isDelivered){ %>
                        <li class="active step0"></li>
                        <li class="active step0"></li>
                        <li class="active step0"></li>
                      <% } else if(order.isConfirmed && !order.isDelivered){ %>
                        <li class="active step0"></li>
                        <li class="active step0"></li>
                        <li class="step0"></li>
                      <% } else { %>
                          <li class="active step0"></li>
                          <li class="step0"></li>
                          <li class="step0"></li>
                      <% } %>
                    </ul>
                  </div>
                </div>
                <div class="row justify-content-between top">
                  <div class="row d-flex icon-content"> <img class="icon" src="https://i.imgur.com/9nnc9Et.png">
                    <div class="d-flex flex-column">
                      <p class="font-weight-bold">Order<br>Processed</p>
                    </div>
                  </div>
                  <div class="row d-flex icon-content"> <img class="icon" src="https://i.imgur.com/u1AzR7w.png">
                    <div class="d-flex flex-column">
                      <p class="font-weight-bold">Order<br>Shipped</p>
                    </div>
                  </div>
                    <!-- <div class="row d-flex icon-content"> <img class="icon" src="https://i.imgur.com/TkPm63y.png">
                        <div class="d-flex flex-column">
                            <p class="font-weight-bold">Order<br>En Route</p>
                        </div>
                    </div> -->
                  <div class="row d-flex icon-content"> <img class="icon" src="https://i.imgur.com/HdsziHP.png">
                    <div class="d-flex flex-column">
                      <p class="font-weight-bold">Order<br>Arrived</p>
                    </div>
                  </div>
                </div>
            </div>
          </div>
          <br>
          <table class="table borderless table-striped" id="order_details" >
            <thead>       
              <th colspan="2">Products</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Total Price</th>     
              <th></th>   
            </thead>
            <tbody class="details">
              <% products.forEach(function(product){ %>
                <tr>
                  <td>
                    <img src="<%= product.item.image %>" alt="<%= product.item.title %>" style="width:70px;height:70px">
                  </td>
                  <td>
                    <a class= pull-left" href="#" style="color:inherit">
                    <div class="media">
                      <div class="media-body">
                          <h5 class="media-header"><%= product.item.title %></h5>
                          <i><h6 class="media-header"><%= product.item.brand%></h6></i>
                      </div>
                    </div>
                    </a>
                  </td>
                  <td>₹ <%= product.item.price%></td>
                  <td><%= product.qty %></td>
                  <td>₹ <%= product.price %></td>
                  <td><button type="button" class="btn btn-primary">Buy it again</button></td>
                </tr>
              <% }) %>
              <tr>
                <td colspan="3"></td>
                <td  class="font-500"><b>Total Amount</b> </td>
                <td class="font-500" ><b><%= order.cart.totalPrice %></b></td>
                <td colspan="1"></td>
              </tr>
            </tbody>
          </table> 
        </div>
      </div>
        <!--ORDER DETAILS END-->
    </div>

  <div class="container">
  <div class="row ">
    <div class="col-xs-12 col-md-6 col-sm-12">
        <!--PAYMENT DETAILS-->
      <div class="card card-default">
          <div class="card-header text-center hhead" style="background-color: rgb(159, 44, 212);">
              <h4>Payment Details</h4>
          </div>
          <div class="card-body">
            <div class="col-md-12">
                <strong>Subtotal</strong>
                <div class="pull-right"><span>₹ <%= order.cart.totalPrice %></span></div>
            </div>
            <div class="col-md-12">
                <strong>Shipping</strong>
                <div class="pull-right"><span>₹ <%= order.cart.totalPrice %></span></div>
            </div>
            <div class="col-md-12">
              <strong>Payment</strong>
              <div class="pull-right"><span><%= order.paymentMode %></span></div>
              <hr>
          </div>
            <div class="col-md-12">
                <strong>Order Total</strong>
                <div class="pull-right"><span>₹ </span><span>₹ <%= order.cart.totalPrice %></span></div>
            </div>
            
          </div>
          
      </div>
      <br>
    <div class="row justify-content-sm-center" style="text-align:center">
    <a href="/user/order-history"><button type="button" class="btn btn-primary btn-lg btn-block">Back to Order History</button></a>
    </div>
    </div>
        <!--PAYMENT DETAILS END -->
        <!--SHIPPING METHOD-->
    <div class="col-xs-12 col-md-6 col-sm-12">
      <div class="card card-default">
        <div class="card-header text-center hhead" style="background-color: rgb(159, 44, 212);">
            <h4>Shipping Details</h4>
        </div>
        <div class="card-body">
          <div class="col-md-12">
            <div class="row" style="max-width:100%">
            <div class="col-md-4 col-lg-3">
              <i class="fa fa-address-card-o"></i>
              <strong>Address:</strong>
            </div>
            <div class="col-md-8 col-lg-9">
                <div class="pull-left">
                  <span><%= order.address %>
                  </span>
                </div>
            </div>
            </div>
            <hr>
          </div>
          <div class="col-md-12">
            <i class="fa fa-institution"></i>
              <strong>City:</strong>
              <div class="pull-right"><span><%= order.city%></span></div>
                <hr>
          </div>
          <div class="col-md-12">
            <i class="fa fa-globe"></i> 
              <strong>State:</strong>
              <div class="pull-right"><span><%= order.state %></span></div>
              <hr>
          </div>
          <div class="col-md-12">
            <i class="fa fa-map-marker"></i> 
              <strong>Zip:</strong>
              <div class="pull-right"><span><%= order.zip %></span></div>
              
          </div>
        </div>
      </div>
        <!--SHIPPING METHOD END-->
    </div>
  </div> <!--row ends -->
  </div>




  </div>
      
</div>


  </body>

</html>