<% include ../partials/header %>

<div class="row justify-content-center">
    <div class="col-sm-6 col-md-4">
        <div id="success" class="alert alert-success <% if(noMessages){ %> d-none <% } %>" >
            <%= successMsg %>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <% products.forEach(function(product){ %>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="img-thumbnail">
                    <img class="img-fluid" src="<%= product.image %>" alt="Generic placeholder thumbnail"/>
                    <div class="caption">
                        <a href="/products/<%= product._id %>" ><h3><%= product.title %></h3></a>
                        <p><%= product.description %></p>
                        <div class="clearfix">
                            <div class="price pull-left">₹ <%= product.price %></div>
                            <a href="/add-to-cart/<%= product._id %>" class="btn btn-success pull-right" role="button">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
</div>





<% include ../partials/footer %>
