<link rel="stylesheet" href="/stylesheets/csshome/cart.css">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script> -->

<% include ../partials/header %>
<!-- <style>
    .cart-div{
        margin-top: 50px;
    }
</style> -->
<% if(!products || totalPrice==0){ %>
    <div class="container con1 payment wrapper" style="height:45%">
        <div class="row justify-content-center">
            <div class="col-sm-6 col-md-6"><!--col-md-offset-3-->
                <h2>No items in cart</h2>
            </div>
        </div>
    </div>



<% } else if(products){ %>
<div class="container cart-div container con1 payment wrapper" style="height:90%">
    <div style="text-align: center;margin-top: 30px;" id="charge-error" class="alert alert-danger <% if(noErrors){ %> d-none <% } %>">
        <%= errMsg %>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-md-offset-1">
            <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th >Quantity</th>
                        <th >Price</th>
                        <th >Total</th>
                        <th >Remove</th>
                    </tr>
                </thead>
                <tbody style="font-weight:500;font-size:17px;vertical-align:center">
                <% products.forEach(function(product){ %>
                    <tr style="border-bottom: 1px solid #dee2e6;">
                        <td class="col-sm-8 col-md-6">
                        <div class="media">
                            <a class="thumbnail pull-left" href="/products/<%= product.item._id %>"> <img class="media-object" src="<%= product.item.image %>" style="width: 72px; height: 72px; margin-right:20px"> </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="/products/<%= product.item._id %>"><%= product.item.title %></a></h4>
                                <h5 class="media-heading"> by Brand name</h5>
                                <span>Status: </span><span class="text-success"><strong>In Stock</strong></span>
                            </div>
                        </div></td>
                        <td class="col-sm-1 col-md-1" style="text-align: center">
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <a href="/reduce/<%= product.item._id %>"><button type="button" class="btn btn-sm btn-light">-</button></a>
                                <button type="button" class="btn btn-sm "><%= product.qty %></button>
                                <a href="/increase/<%= product.item._id %>"><button type="button" class="btn btn-sm btn-light ">+</button></a>
                            </div>
                        </td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>₹<%= product.price/product.qty %></strong></td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>₹<%= product.price %></strong></td>
                        <td class="col-sm-1 col-md-1">
                        <a href="/remove/<%= product.item._id %>">
                            <i style="color: red;font-size: 25px;" class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                        </td>
                    </tr>
                    <% }) %>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h3>Total</h3></td>
                        <td class="text-right"><h3><strong>₹<%= totalPrice %></strong></h3></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <!--<a href="<%= prevUrl %>">-->
                            <a href="/">
                                <button type="button" style="white-space: nowrap;" class="btn btn-primary">Continue Shopping</button>
                            </a>
                        </td>
                        <td>
                            <a href="/checkout">
                                <button type="button" class="btn btn-success">Checkout</button>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
    </div>
</div>
<% } %>

<% include ../partials/footer %>
